.day2 > span {
    color: blue;
    font-weight: bold;
    font-family: Arial;

}
.day2bic > span {
    color: blue;
    font-weight: bold;
    font-family: Arial;


}

.chet {
    color: blue;
    font-weight: bold;

}

li:hover {
    color: blue;


}
.color_red:hover {
    color: blue;
}

.day3_blue:hover {
    color: red;
}

input::placeholder {
    color: red;
    font-size: 1.2em;
    font-style: italic;
    background-color: lightgrey;
}