/*.grid {*/
/*    display: flex;*/
/*    flex:1;*/
/*   grid-template-rows: auto;*/
/*}*/

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;

}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}






.item1, .item2, .item3, .item4, .item5, .item6, .item7 {
    text-align: center;
    border: 2px solid black;
    padding: 30px;
    color: white;

}

.item1 {
    height: 10px;
    background: black;
}

.item2 {
    background: red;
}

.item3 {
    height: 150px;
    background: lightskyblue;

}

.item4 {
    height: 100px;
    background: darkblue;
}

.item5 {
    height: 70px;
    background: darkgoldenrod;
}

.item6 {
    height: 50px;
    background: lightgreen;
}

.item7 {
    height: 50px;
    background: lightgray;
}


